
<div [ngSwitch]="alerta">
    <div *ngSwitchCase="'success'">Success</div>
    <div *ngSwitchCase="'info'">Info</div>
    <div *ngSwitchCase="'warning'">Warning</div>
    <div *ngSwitchDefault>Danger</div>
</div> 

<button (click)="alerta = 'success'" class="btn btn-primary mb-3" type="button">Cambiar</button>

<div [ngSwitch]="alerta">
    <div *ngSwitchCase="'success'" class="alert alert-success" role="alert">
        A simple primary alert—check it out!
    </div>

    <div *ngSwitchCase="'info'" class="alert alert-info" role="alert">
        A simple secondary alert—check it out!
    </div>

    <div *ngSwitchCase="'warning'" class="alert alert-warning" role="alert">
    A simple success alert—check it out!
    </div>

    <div *ngSwitchDefatul class="alert alert-danger" role="alert">
        A simple danger alert—check it out!
    </div>
</div>

